.Text {
  margin: 0;
}

.App .mb-sm {
  margin-bottom: 1em;
}

.text-sm {
  font-size: 0.75rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.2rem;
}

.text-xl {
  font-size: 1.6rem;
}
