.btn {
  padding: 10px 12px;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  margin: 10px;
}
.btn:hover {
  transform: scale(1.1);
}

.btn--variant-none {
  background-color: lightgray;
}

.btn--variant-primary {
  background-color: lightblue;
}
