.new-post {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.new-post input {
  padding: 0.3rem;
  outline: none;
  width: 300px;
}
.new-post input:first-child {
}
.new-post input:last-child {
  background: aqua;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
}
