label {
  display: flex;
  align-items: center;
}
.input-text {
  padding: 6px 14px;
  outline: none;
  border: none;
}
.input-submit {
  border: none;
  padding: 6px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}
