.friend-component {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0.2rem;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
  cursor: pointer;
}
.friend-component:hover {
  background: rgba(36, 36, 36, 0.15);
}
.friend-component img {
  border: 1.3px solid blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.friend-info {
  display: none;
}

@media (min-width: 800px) {
  .friend-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;
  }
  .friend-info > h4,
  h5 {
    margin: 0;
  }
  .friend-info > h5 {
    color: #24242450;
  }
}
