* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  --color-primary: #0176c3;
  ---color-secondary: #c7eeff;
  --color-tertiary: #1d242c;
  --color-white: #fafafa;
}
body,
html {
  margin: 0;
  padding: 0.3rem;
}
