body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  border: 1px solid limegreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  width: fit-content;
}
